@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
#navbar{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: red;
  width: 100%;
  height:50px;
}
a{
  text-decoration: none;
    color:white;
}
#navbar a{
  margin-right: 3em;
  padding:1%;
}
a:hover{
  background-color: rgba(200,100,10,0.5);
}
a:visited,a:link,a:active{
  color: white;
}
#welcome-section{
  height: 100%;
  background-color: gray;
  display: flex;
  justify-content:center;
  align-items: center;
}
#projects{
  background-color: rgb(100,70,100);
  height:100%;
}
#projects h2{
  color: white;
  text-align: center;
  padding: 40px 0;
}
#containerP{
  display: flex;
  justify-content: space-around;
}
.project-tile{
  width:20%;
  background-color: gray;
  height:100px;
  display: flex;
  justify-content:center;
  align-items:flex-end;

}
#contacts{
  background-color: gray;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
#contacts a{
  display: block;
}
@media only screen and (max-width: 600px) {
  #containerP{
    flex-direction: column;
  }
.project-tile{
  margin: 2% auto;
  width: 80%;
}
}
